<main>
    <div class="card-deck-wrapper">
        <div class="card-deck">
            <div class="card card-1">
                <div class="card-block">
                    <h4 class="card-title">Add a chore</h4>
                </div>
            </div>
            <div class="card card-1">
                <div class="card-block">
                    <h4 class="card-title">Receive a chore</h4>
                </div>
            </div>
        </div>

        <div class="card-deck">
            <div class="card card-1">
                <div class="card-block">
                    <h4 class="card-title">Hot streaks (Coming soon!)</h4>
                </div>
            </div>
            <div class="card card-1">
                <div class="card-block">
                    <h4 class="card-title">Friend List Leaderboard (Coming soon!)</h4>
                </div>
            </div>
            <div class="card card-1">
                <!--<img class="card-img-top" src="..." alt="Card image cap">-->
                <div class="card-block">
                    <h4 class="card-title">Global Leaderboard (Coming soon!)</h4>
                </div>
                <%= image_tag  "", alt: "img", class: "card-img-bottom" %>
                </div>
            </div>
        </div>
    </div>
</main>