<main>
    <div class="card-deck-wrapper">
        <div class="card-deck">
            <a href="#" class="card border-warning add-chore-card">
                <div class="card-header">Add a chore!</div>
                <div class="card-body"></div>
            </a>
            <a href="#" class="card border-warning get-chore-card">
                <div class="card-header">Get a chore!</div>
                <div class="card-body"></div>
            </a>
        </div>

        <div class="card-deck">
            <div class="card border-danger unused-card text-muted">
                <div class="card-header">Hot streaks (Coming soon!)</div>
                <div class="card-body"></div>
            </div>
            <div class="card border-danger unused-card text-muted">
                <div class="card-header">Friend List Leaderboard (Coming soon!)</div>
                <div class="card-body"></div>
            </div>
            <div class="card border-danger unused-card text-muted">
                <div class="card-header">Global Leaderboard (Coming soon!)</div>
                <div class="card-body"></div>
            </div>
        </div>
    </div>
</main>