// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "about.scss";
@import "home.scss";
@import "login.scss";
@import "profile.scss";
@import "register.scss";
@import "settings.scss";


/********************************************
** Variables
**/

$neon_blue: #0AB9E6;
$dark_neon_blue: #05586d;
$neon_red: #FF3C28;
$neon_green: #1EDC00;
$neon_yellow: #E6FF00;
$chorebot_yellow: #fdd936;
$neon_pink: #FF3278;
$mario_red: #E10F00;
$grey: #989898;
$dark_grey: #414548;


/********************************************
** General
**/

html, body, header, #background {
    height: 100%;
}



/********************************************
** Navbar
**/

nav {
    //background-color: $neon_pink;
    //opacity: 0.5;
}

nav a {
    color: $neon_blue;
    text-decoration: none;
    font-size: 1.5em;
}

nav a:hover {
    //background-color: $neon_green;
    color: $neon_green;
    text-decoration: underline;
    //text-decoration-color: $neon_red;
}

nav .navbar-brand {
    color: $neon_blue;
    font-size: 2em;
}

.dropdown-item {
    text-align: right;
    margin: 0px;
}

.dropdown-item:hover {
    color: $neon_green;
    background-color: $neon_blue;
}



/********************************************
** Home Page
**/

#background {
    position: fixed;
    top: 55%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: image-url('chorebot_03.svg') no-repeat center center;
    background-size: 75%;
}

/*.layer {
    background-color: $neon_blue;
    opacity: 0.5;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}*/

.tag-line-1 {
    position: absolute;
    top: 350px;
    left: 1100px;
    width: 500px;
    height: 150px;
}

.tag-line-2 {
    position: absolute;
    top: 550px;
    left: 1150px;
    width: 500px;
    height: 125px;
}

.jumbotron {
    margin-top: 100px;
    background-color: $neon_pink;
    height: 500px;
    padding: 10px 10px 10px 10px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.card-1 {
    padding: 10px 10px 10px 10px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}