// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "about.scss";
@import "home.scss";
@import "login.scss";
@import "profile.scss";
@import "register.scss";
@import "settings.scss";


/********************************************
** Variables
**/

$neon_blue: #0AB9E6;
$dark_neon_blue: #05586d;
$neon_red: #FF3C28;
$neon_green: #1EDC00;
$neon_yellow: #E6FF00;
$chorebot_yellow: #fdd936;
$neon_pink: #FF3278;
$mario_red: #E10F00;
$grey: #989898;
$dark_grey: #414548;


/********************************************
** General
**/

html, body, header, #background {
    height: 100%;
}



/********************************************
** Navbar
**/

/*nav {
    background-color: $neon_pink;
    opacity: 0.5;
}*/

nav a {
    color: $neon_blue;
    font-size: 1.5em;
}

nav a:hover {
    //background-color: $neon_green;
    color: $neon_green;
    text-decoration: underline;
    //text-decoration-color: $neon_red;
}

nav .navbar-brand {
    color: $neon_blue;
    font-size: 2em;
}

.dropdown-item {
    text-align: right;
    margin: 0px;
}

.dropdown-item:hover {
    color: $neon_green;
    background-color: $neon_blue;
}


/********************************************
** Profile Page
**/
